<h4><strong><%= @article.title %></strong></h4>
<p><strong><%= @article.text %></strong></p><br>
<h2>Comments</h2>
<%= render @comments %>
<%= will_paginate(@comments, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, 
class: 'pagination-sm') %>
<h2>Add a comment:</h2>
<%= render 'comments/form' %><br>
<%= link_to "Back", articles_path %>
<%= link_to "Edit", edit_article_path(@article) %>


